<h1> Welcome to Mario's specialty store </h1>
<h3>Are you a new guest here at Mario's? Click the "sign up" button 👆</h3><br>
<h4>Returning guest? Sign in to view more of your favorite products and helpful customer reviews: </h4>
<%= form_tag signin_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign in" %>
<% end %>
