<h1>Add a new Review:</h1>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %> <br>
  <%= f.label :content_body %>
  <%= f.text_field :content_body, minlength: 50, maxlength: 250 %>
  <%= f.label :rating %>
  <%= f.number_field :rating, min: 1, max: 5 %>

  <p><%= f.submit %></p>
<% end %>
