<!DOCTYPE html>
<html>
  <head>
    <title>RailsGroceryStore</title>
    <%= csrf_meta_reviews %>
    <%= csp_meta_review %>

    <%= stylesheet_link_review    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_review 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
